/* style sheet */




body{
	font-family: 'source sans pro', 'sans-serif';
	line-height: 1.5;
	background-color: white;
	color: #323232;
}

header{
	
}



.logo{
	display: inline-block;
	vertical-align: top;
	width: 80px;
	width: 80px;
	margin-left: 45px;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 80px;
	
	border-style: solid black;
	border-radius:25px;
}


#navigation-container{
	position:relative;
	background-color:gray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	

	
}
.navigation-bar{
	width:100%;
	height: 75px;
	background-color:gray;

}

.navigation-bar ul{
	padding: 0px;
	margin:0px;
	text-align: center;
	float:right;
	background-color:gray;
}
ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin-bottom: 5px;
}
a{
	text-decoration: none;
	 color:white;
	font-size: 16px;
	padding: 5px 15px;
	opacity: 0.7;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	margin-right: 2px;
}
 a:hover{
	background-color: white;
	color:red;
}
li{
	display:inline-block;
	margin-left: 75px;
	padding-top: 10px;
	margin-top: 40px;
	position: relative;
}

.wrapper{
	width:80%;
	margin-right: auto;
	margin-left: auto;
	background-color: gray;

	}

.container-box{
		
height: 480px;
background-color:gray;

display: flex;
margin: -7% auto 20px auto;
position:relative;
justify-content: space-evenly;
margin-top: 1.5px;
align-items: center;
margin-top: 20px;

	}
.model{
	float: right;
	margin-left: 60px;
	height: 350px;
	background-color: gray;
	border-radius:25px;
border-style: 2px solid gray;
}


.About-Text h1{
	font-weight: bolder;
	font-size: 34px;
	color:white;
	

}
.About-Text{
	width:400px;
	margin-right: 30px;
}

.About-Text p:nth-child(1){
	color: blue;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 28px;
	line-height: 0px;

}

.About-Text p:nth-child(2){
	color: white;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 14px;
	line-height: 5px;
	}
	.About-Text p:nth-child(3),
.About-Text p:nth-child(4){
	color: white;
	font-weight: bold;
	font-family: calibri;
	font-size: 16px;
}

.About-Text p:nth-child(5){
	color: white;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 14px;
	line-height: 5px;
	}

footer{
	height:110px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: gray;
	width: 100%; 
}

footer p{
	font-family: calibri;
}

footer p:nth-child(1){
	font-weight: bold;
	color: red;
	line-height: 10px;

}
footer p:nth-child(2){
	font-size: 16px;
	color: white;
	width: 600px;
	text-align: center;
}



.fa{
	padding: 10px;
	text-align: center;
	margin: 5px 2px;
	font-size: 30px;
	width:60px;
	display:inline-block;
	position: relative;
	padding-top: 10px;
	margin-top:30px;
	text-decoration: none;
}

.iconn{
	float: left;

}
.fa-facebook {  
  background: #3B5998;  
  color: white;  
}  

.fa-twitter {  
  background: #55ACEE;  
  color: white;  
}  
.fa-instagram {  
  background: red;  
  color: white;  
}  

.fa-youtube {  
  background: #bb0000;  
  color: white;  
}  